@page	{ size: 6in 9in; }

main	{ page-break-before: avoid; break-before: avoid; }
h1		{ page-break-after: avoid; break-after: avoid; }
section	{ page-break-inside: avoid; break-inside: avoid; }
section, h1, main { box-decoration-break: clone; }

body	{ background-color: #f5f8fa; color: black; font-family: "Helvetica Neue"; margin: 0 1rem; -webkit-print-color-adjust: exact; color-adjust: exact; font-size: 0.5em; }
main	{ column-count: 2; column-gap: 1rem; }
section	{ border-radius: 0.5em; padding: 1.5em; margin: 1rem 0; background-color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); box-sizing: border-box; idth: calc(50% - 1rem); display: flex; flex-direction: column; }
h1		{ margin: 0.5rem 0.5rem 0; padding: 0.7em; border-bottom: thin solid rgb(101, 119, 134); }
h3, h4	{ margin: 0; font-size: 1.2em; }
h4		{ font-size: 1em; }
h4, p > span, time, em, p ~ img path	{ color: rgb(101, 119, 134); }
h4, time		{ font-family: "Helvetica Neue"; font-weight: normal; }
.Icon	{ object-fit: cover; border-radius: 50%; height: 3em; margin-right: 0.2em; }
.Icon, .Logo	{ height: 3em; }
p		{ font-size: 1.5em; letter-spacing: -0.02em; }
header	{ display: flex; justify-content: space-between; }
.Logo	{ height: 3.5em; }
footer	{ flex-grow: 1; display: flex; align-items: flex-end; justify-content: space-between; }
footer > img	{ height: 1em; vertical-align: sub; }
img + img, em + img	{ margin-left: 2em; }
em		{ font-style: normal; margin-left: 0.5em; }
time	{ flex-grow: 1; text-align: right; }
